

body{

	background-image: url("back3.jpg");

}
h1{

     align-content: center;
     text-align: center;

}

.pseudoo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


